@charset "utf-8";
@font-face {
	font-family: 'icomoon';
	src:url('iconos/fonts/icomoon.eot?-1o7d0e');
	src:url('iconos/fonts/icomoon.eot?#iefix-1o7d0e') format('embedded-opentype'),
		url('iconos/fonts/icomoon.woff?-1o7d0e') format('woff'),
		url('iconos/fonts/icomoon.ttf?-1o7d0e') format('truetype'),
		url('iconos/fonts/icomoon.svg?-1o7d0e#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-info:after {
	content: "\e600";
}

.icon-muy_bien:after {
	content: "\e9df";
}

.icon-bien:after {
	content: "\e9e1";
}

.icon-no_lo_que_esperaba:after {
	content: "\e9e3";
}

.icon-muy_malo:after {
	content: "\e9e5";
}

.icon-exelente:after {
	content: "\e9eb";
}

.icon-wondering:after {
	content: "\e9fb";
}

.icon-info_falsa:after{
	content: "\e9ff";
}

.icon-like:after {
	content: "\e601";
	margin-left:10px;
}
/* 		PAGINA		*/

body{
	font-family:"Arimo"
}

#lista{
	background:#FC3;
	list-style:none;
	margin-top:0em;
	margin-bottom:0em;
}

#banner{
	background:#099;
	overflow:hidden;
}
#contenido{
	padding:.5em;
	background:#F4F5F5;
	
}
#mi_nombre{
	display:inline-block;
	font-size:1em;
	color:#FFF;
	margin-right:.5em;
	
}
#my_avatar{
	display:inline-block;
	margin-bottom:-1em;
	border-radius:50%;
	width:3em;
}
#yo{
	float:right;
}
#logo{
	border-radius:50%;
	margin-right:3em;
	float:left;
	width:5em;
	height:5em;
	margin:.5em;
}
#encabesado{
	float:left;
	color:#FFF;
	font-size:1.2em;
	margin-left:1em;
	margin-top:2em;
	
}

/*      clases         */


/*     Notas    */
.cajas{
	background:#FFF;
	padding:1.25em;
	margin:1em;
	overflow:hidden;
}

.texto{
	font-weight:bold;
	font-size:16px;
}
.datos{
	display:block;
}
.nombre{
	color:#0CF;
	font-size:.9em;
	margin-bottom:.25em;
	display:inline-block;
}
.nombre:before{
	color:#666;
	content:"Por : ";
}
.like{
	font-size:.9em;
	float:right;
	color:#06F;
}
.avatar{
	border-radius:.2em;
	margin-right:.3em;
	float:left;
	width:3.5em;
}
.categoria{
	font-size:14px;
	background:#CF3;
	padding:.2em;
	border-radius:.2em;
	margin:.1em;
	float:left;
	
}
.tiempo:before{
	content:"5min";
	font-size:.9em;
	color:#666;
	float:right;
}
/*     Menu    */


.nav:first-child{
	padding-left:0em;
}
.nav{
	color:#FFF;
	padding:.5em;
	font-size:1em;
	display:inline-block;
	text-shadow: 2px 2px 5px #666;
	font-size:1em;
}
#publicar{
	background:#6F9;
	border-radius:5%;
	margin-top:-.9em;
	padding:.8em;
	font-style:italic;
	float:
	box-shadow: 2px 2px 5px #666;
}
.nav a{
	text-decoration:none;
	color:#FFF;
}
