@charset "utf-8";


#lista{
	background:#FC3;
	list-style:none;
	margin-top:0px;
	position:relative;
}

#banner{
	background:#099;
	overflow:hidden;
}
#contenido{
	padding:.5em;
	margin:0.5em;
	margin-top:2em;
	background:#ddd;
	
}
#mi_nombre{
	display:inline-block;
	font-size:16px;
	color:#FFF;
	margin-right:.5em;
}
#my_avatar{
	display:inline-block;
	margin-bottom:-1em;
	border-radius:50%;
	width:3em;
}
#yo{
	float:right;
}
#logo{
	margin-right:3em;
	float:left;
	width:5em;
	margin:.5em;
}
#encabesado{
	float:left;
	color:#FFF;
	font-size:1.2em;
	margin-left:1em;
	margin-top:2em;
	
}

/*      clases         */
.cajas{
	background:#FFF;
	padding:1.25em;
	margin:1em;
}
.link_ver_texto{
	font-size:16px;
	background:#C93;
	
}
.nombre{
	color:#0CF;	
	background:#000;
	
}
.avatar{
	width:3em;
	display:inline-block;
}
.textos{
	
}
.nav{
	color:#FFF;
	padding:.5em;
	font-size:16px;
	display:inline-block;
	text-shadow: 2px 2px 5px #666;
	
}
#publicar{
	background:#6F9;
	border-radius:5%;
	position:absolute;
	margin-top:-.9em;
	margin-left:.5em;
	padding:1.1em;
	font-style:italic;
	
}
.nav a{
	text-decoration:none;
	color:#FFF;
}