@charset "utf-8";

body{
	font-family:"Arimo"
}

#lista{
	background:#FC3;
	list-style:none;
	margin-top:0px;
}

#banner{
	background:#099;
	overflow:hidden;
}
#contenido{
	padding:.5em;
	margin:0.5em;
	margin-top:2em;
	background:#ddd;
	
}
#mi_nombre{
	display:inline-block;
	font-size:16px;
	color:#FFF;
	margin-right:.5em;
	
}
#my_avatar{
	display:inline-block;
	margin-bottom:-1em;
	border-radius:50%;
	width:3em;
}
#yo{
	float:right;
}
#logo{
	margin-right:3em;
	float:left;
	width:5em;
	margin:.5em;
}
#encabesado{
	float:left;
	color:#FFF;
	font-size:1.2em;
	margin-left:1em;
	margin-top:2em;
	
}

/*      clases         */


/*     Notas    */
.cajas{
	background:#FFF;
	padding:1.25em;
	margin:1em;
	overflow:hidden;
}

.texto{
	font-weight:bold;
	font-size:16px;
}
.nombre{
	color:#0CF;
	font-size:14px;
	margin-bottom:5px;
	display:block;
}
.nombre:before{
	color:#666;
	content:"Por : ";
}
.avatar{
	border-radius:4px;
	margin-right:.3em;
	float:left;
	width:3.5em;
}
.categoria{
	font-size:14px;
	background:#CF3;
	padding:4px;
	border-radius:5px;
	margin:2px;
	float:left;
	
}
.tiempo:before{
	content:"5min";
	font-size:14px;
	color:#666;
	float:right;
}

/*     Menu    */


.nav:first-child{
	padding-left:0em;
}
.nav{
	color:#FFF;
	padding:.5em;
	font-size:16px;
	display:inline-block;
	text-shadow: 2px 2px 5px #666;
	font-size:16px;
}
#publicar{
	background:#6F9;
	border-radius:5%;
	margin-top:-.9em;
	margin-right:0;
	padding:.8em;
	font-style:italic;
	box-shadow: 2px 2px 5px #666;
}
.nav a{
	text-decoration:none;
	color:#FFF;
}
